/* --- Global & Container Styles --- */
body {
    background-color: #121213;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Stacks navbar and game container vertically */
    align-items: center;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}


#navbar {
    width: 100%;
    padding: 50px 0;
    border-bottom: 1px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: white;
    margin: 0;
}

/* --- Tile Grid Styles --- */
#tile-grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 350px;
    height: 350px;
    margin-bottom: 50px;
}

.tile-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:2px;
    padding-bottom: 2px;
}

.tile {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-color: transparent;
    border: 2px solid #3a3a3c;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

.tile::before {
    content: attr(data-letter);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile.filled { border-color: #565758; }
.tile.correct { background-color: #538d4e; border-color: #538d4e; color: white; }
.tile.present { background-color: #b59f3b; border-color: #b59f3b; color: white; }
.tile.absent { background-color: #3a3a3c; border-color: #3a3a3c; color: white; }


#keyboard-container {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;

}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.middle-row {
    padding: 0 30px;
}

.key {
    background-color: #818384;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 4px;
    height: 100px;
    flex-grow: 1;
    max-width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: background-color 0.2s;
}

.key:hover {
    background-color: #939598;
}

.large-key {
    flex-grow: 1.8;
    max-width: 80px;
    font-size: 14px;
}

.key.correct { background-color: #538d4e; }
.key.present { background-color: #b59f3b; }
.key.absent { background-color: #3a3a3c; }

.box{
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: 2px solid #3a3a3c;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-transform: uppercase;
}