body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffff;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  min-height: 100vh;
}
.game-container{
  max-width: 500px;


}
#board{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 8px;
  margin-bottom: 30px;
}
.row{
  display: flex;
  gap: 10px;
  
}

.tile{
  width: 62px;
  height: 62px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  user-select: none;

}

#keyboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  width:1000px;
}
#keyboard button{
  background-color: #818384;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  padding: 12px 8px;
  flex-grow: 1;
  width:40px;
  height:50px;
  font-size: 0.9rem;
  transition: background-color 0.1s;
}
#keyboard button:hover{
  background-color: #939598;
}