body{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color:#ffff;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  min-height: 100vh;
}
.game-container{
  max-width: 500px;


}
#board{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 8px;
  margin-bottom: 30px;
}
.row{
  display: flex;
  gap: 8px;
}

.tile{
  width: 62px;
  height: 62px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  user-select: none;

}

#keyboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  width:100%;
}
#keyboard button{
  background-color: white;
  
}